[submodule "3rdparty/raylib"]
	path = third_party/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "3rdparty/raygui"]
	path = third_party/raygui
	url = https://github.com/raysan5/raygui.git